@keyframes animatedBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(270deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    background-size: 200% 200%;
    animation: animatedBackground 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); /* Menambahkan transparansi agar background gradasi terlihat */
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-media a {
    margin: 0 10px;
}

.heart {
    color: #ff4757;
}
